html {
  background: linear-gradient(#615dad 0%, #ffc8da 100%);
  height: 100vh;
  background-repeat: no-repeat;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: #ffffff;
}

.container {
  max-width: 80vh;
  height: 80vh;
  padding: 10px 70px;
}

.ikonyVradku {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 15px;

}

.infoLista__hrajePopis {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  margin-right: 15px;
}

.navigacniButton {
  display: flex;
  flex-direction: row;
}

.infoLista {
  display: flex;
  flex-direction: row;
}

.navigacni__buttonHome {
  display: flex;
  background-color: #1fcca4;
  width: 30px;
  height: 35px;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  margin-right: 15px;
}

.navigacni__buttonNewGame {
  display: flex;
  justify-content: center;
  background-color: #0197f6;
  width: 30px;
  height: 35px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
}

.gameArea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;

}

.buttonCube {
  border: 2px solid #525a5f;
  background-color: #cfa3d8;
  width: calc(100% / 10);
  height: calc(100% / 10);
}

.buttonCube:hover {
  background-color: #cb84d9;
}
