body {
  min-height: 100vh;
  background: linear-gradient(#615dad 0%, #ffc8da 100%);
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: #ffffff;
}

.container {
  max-width: 70vh;
  margin: auto;
}

.ikonyVradku {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 15px;
}

.infoLista__hrajePopis {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  margin-right: 15px;
}

.navigacniButton {
  display: flex;
  flex-direction: row;
}

.infoLista {
  display: flex;
  flex-direction: row;
}

.navigacni__buttonHome {
  display: flex;
  background-color: #1fcca4;
  width: 30px;
  height: 35px;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
  margin-right: 15px;
}

.navigacni__buttonNewGame {
  display: flex;
  justify-content: center;
  background-color: #0197f6;
  width: 30px;
  height: 35px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px 5px 5px 5px;
}

.gameArea .buttonCube {
  box-sizing: border-box;
  padding: 0;
  aspect-ratio: 1/1;
}

.gameArea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.buttonCube {
  width: 10%;
  border: 1px solid #525a5f;
  background: linear-gradient(#e3d4ec 0%, #dca0d493 100%);
}

.buttonCube:hover {
  background-color: #cb84d9;
}

.navigacni__buttonHome:hover {
  background-color: #1cbb96;
  cursor: pointer;
}

.navigacni__buttonNewGame:hover {
  background-color: #0090e9;
  cursor: pointer;
}

/* při hře kolečko a křížek */

.board__field--circle {
  background: url(circle-black.svg) 80%, linear-gradient(#e3d4ec 0%, #dca0d493 100%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.board__field--cross {
  background: url(cross-black.svg) 80%, linear-gradient(#e3d4ec 0%, #dca0d493 100%);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
