* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*.background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#615dad 0%, #ffc8da 100%);


h1 {
  color: #ffffff;
  font-family: 'Lobster', cursive;
}

p {
  color: #ffffff;
}
}*/
